<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <section class="conteudo">{{!-- div.conteudo --}}

        <div class="whiteLine">{{!-- whiteLine --}}
            <div class="text">
                <a href="/">
                    <img src="/img/seta.png" alt="">
                </a>
            </div>
        </div>{{!-- /whiteLine --}}

        <div class="conteudo2">{{!-- conteudo2 --}}

            <div class="um">{{!-- div.um --}}
                <div class="suspender">
                    <div class="corda" id="cordaUm"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDois"></div>
                </div>
            </div>{{!-- /um --}}

            <div class="dois" id="D">{{!-- div.dois --}}
                <div class="suspender2">
                    <div class="corda" id="cordaUmM"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDoisM"></div>
                </div>
            </div>{{!-- /dois --}}


            <div class="tres">{{!-- div.tres --}}
                <div class="suspender">
                    <div class="corda" id="cordaUm"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDois"></div>
                </div>
            </div>{{!-- /tres --}}

        </div>{{!-- /conteudo2 --}}

        <div class="conteudo3">{{!-- div.conteudo3 --}}

            <div class="box">{{!-- div.box --}}

                <div class="white">{{!-- div.white --}}

                    <div class="one">{{!-- div.one --}}
                        <h1>SOBRE NÓS</h1>
                    </div>{{!-- /one --}}

                    <div class="two">{{!-- div.two --}}
                        <p>Bem-vindo à Disney Attractions, o seu portal oficial para explorar e vivenciar a magia dos
                            parques e atrações da Disney!
                            Somos uma empresa dedicada a trazer a você todas as informações e facilidades necessárias
                            para planejar a sua visita aos incríveis destinos Disney ao redor do mundo.</p>
                    </div>{{!-- /two --}}

                </div>{{!-- /white --}}

            </div>{{!-- /box --}}

            <div class="box1">{{!-- div.box1 --}}

                <div class="white" id="whiteB">{{!-- div.white --}}

                    <div class="one">{{!-- div.one --}}
                        <h1>NOSSA MISSÃO</h1>
                    </div>{{!-- /one --}}

                    <div class="two">{{!-- div.two --}}
                        <p>Na Disney Attractions, nossa missão é tornar a sua experiência com a Disney ainda mais mágica
                            e inesquecível. Queremos ajudar você a descobrir, planejar e aproveitar ao máximo todas as
                            atrações que os parques Disney têm a oferecer, de maneira fácil e conveniente.</p>
                    </div>{{!-- /two --}}

                </div>{{!-- /white --}}

            </div>{{!-- /box1 --}}

            <div class="box2">
                <div class="white">
                    <div class="one">
                        <h1>JUNTE-SE A NÓS</h1>
                    </div>
                    <div class="two">
                        <p>Deixe a Disney Attractions ser seu guia na jornada para descobrir a magia e a diversão dos
                            parques Disney. Seja você um visitante de primeira viagem ou um fã de longa data, estamos
                            aqui para tornar sua experiência ainda mais encantadora. Comece a planejar sua aventura hoje
                            e prepare-se para criar memórias inesquecíveis com a Disney!</p>
                    </div>
                </div>
            </div>

        </div>{{!-- /conteudo3 --}}

    </section>{{!-- /conteudo --}}


</body>

</html>