<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <section class="conteudo">
        <div class="whiteLine">
            <div class="text">
                <a href="/">
                    <img src="/img/seta.png" alt="">
                </a>
            </div>
        </div>
        <div class="conteudo2">
            <div class="um">
                <div class="suspender">
                    <div class="corda" id="cordaUm"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDois"></div>
                </div>
            </div>
            <div class="dois" id="D">
                <div class="suspender2">
                    <div class="corda" id="cordaUmM"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDoisM"></div>
                </div>
            </div>
            <div class="tres">
                <div class="suspender">
                    <div class="corda" id="cordaUm"></div>
                </div>
                <div class="suspender2">
                    <div class="corda" id="cordaDois"></div>
                </div>
            </div>
        </div>
        <div class="conteudo3">
            <div class="box">
                <div class="white">
                    <div class="one">
                        <h1>SOBRE NÓS</h1>
                    </div>
                    <div class="two">
                        <p>Bem-vindo à Disney Attractions, o seu portal oficial para explorar e vivenciar a magia dos
                            parques e atrações da Disney!
                            Somos uma empresa dedicada a trazer a você todas as informações e facilidades necessárias
                            para planejar a sua visita aos incríveis destinos Disney ao redor do mundo.</p>
                    </div>
                </div>
            </div>
            <div class="box1">
                <div class="white" id="whiteB">
                    <div class="one">
                        <h1>SOBRE NÓS</h1>
                    </div>
                    <div class="two">
                        <p>Bem-vindo à Disney Attractions, o seu portal oficial para explorar e vivenciar a magia dos
                            parques e atrações da Disney!
                            Somos uma empresa dedicada a trazer a você todas as informações e facilidades necessárias
                            para planejar a sua visita aos incríveis destinos Disney ao redor do mundo.</p>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="white">
                    <div class="one">
                        <h1>JUNTE-SE A NÓS</h1>
                    </div>
                    <div class="two">
                        <p>Deixe a Disney Attractions ser seu guia na jornada para descobrir a magia e a diversão dos
                            parques Disney. Seja você um visitante de primeira viagem ou um fã de longa data, estamos
                            aqui para tornar sua experiência ainda mais encantadora. Comece a planejar sua aventura hoje
                            e prepare-se para criar memórias inesquecíveis com a Disney!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>







    
</body>

</html>