<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attractions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Erica+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Convergence&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="conteudo0">{{!-- div.conteudo0 --}}

        <div class="nave">
            <div class="um">
                <h1 id="umm"><a href="">Home</a></h1>
            </div>
            <div class="dois">
                <h1 id="doiss"><a href="/about">About</a></h1>
            </div>
            <div class="tres">
                <h1 id="tress"><a href="/login">Login</a></h1>
            </div>

        </div>{{!-- /conteudo0 --}}

        <div class="conteudo1">{{!-- conteudo1 --}}

            <div class="title">
                <div class="legen">
                    <h1 id="legendD">Disney</h1>
                    <h2>Attractions</h2>
                </div>

                <div class="frase">
                    <h1>The best exhibitions for you and your family!</h1>
                </div>

                <div class="botao">
                    <button><a href="/attractions">Let's go!</a></button>
                </div>
            </div>
            <div class="retan">
                <div class="quad">
                    <img src="/img/waltHome.png" alt="">
                </div>
            </div>

        </div>{{!-- /conteudo1 --}}


    </section>
</body>

</html>