<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section class="container2">
        <div class="triangle left"></div>

        <div class="volt">
            <div class="um">
                <h1><a href="/">Voltar</a></h1>
            </div>
            <div class="dois"></div>
        </div>

        <div class="conteudoD">
            <div class="tres">
                <img src="/img/mickey.png" alt="Login Image">
            </div>
            <div class="quatro">
                <div class="cadastroC">
                    <div class="part1">
                        <h1><a href="">Cadastre-se</a></h1>
                    </div>

                    <div class="part2">
                        <div class="googleB">
                            <div class="googleimg"><img src="/img/googleicon.png" alt=""></div>
                            <div class="loginG">
                                <h1><a href="">Faça seu login com sua conta google</a></h1>
                            </div>
                        </div>
                    </div>
                    
                    <div class="part3">
                        <div class="line"></div>
                        <div class="between">
                            <h1>crie seu USERNAME</h1>
                        </div>
                        <div class="line2"></div>
                    </div>

                    <div class="part4">

                    </div>

                    <div class="part5">
                        <div class="quadrado">
                            <div class="Q"></div>
                        </div>
                        <div class="diretrizesF">
                            <h1>ACEITO AS DIRETRIZES INFORMADAS</h1>
                        </div>
                    </div>

                    <div class="part6">
                        <h1>diretrizes informativas da plataforma disney </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>